<?xml version='1.0' encoding='utf-8'?>

    <name>Mobile Definition</name>
    <description>
        A simple handy note for student.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Malik Perang R&D 2014
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
